.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.pageTwo, .pageThree{
  margin-left: 25px;
}

.nextPage{
  margin: 10px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

input{
  margin: 10px;
  text-align: left;
}

table, th, td {
  border: solid 1px black;
}

#prime {
  float: left;
  width: 75%;
}

#total {
  float: left;
  width:25%;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 24px;
}

#checkoutTable {
  width: 75%
}





