.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.pageOne, .pageTwo, .pageThree{
  margin-left: 25px;
  margin-right: 25px
}

.pageOne {
  display: inline-block;
  margin-bottom: 25px;
}

.nextPage{
  margin: 10px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

.addButton, .removeButton {
  margin: 10px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 250px;
}


input{
  margin: 10px;
  text-align: left;
}

img {
  height: 200px;
  width: 300px;
}

table, th, td {
  border: solid 1px black;
}

#prime {
  float: left;
  width: 85%;
}

#total {
  float: left;
  width: 15%;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 24px;
}

#checkoutTable {
  width: 75%
}

#addPizzaDisplay, #removePizzaDisplay {
  vertical-align: bottom;
  text-align: center;
  border: solid black 1px;
  width: 300px;
  height: 500px
}


